body {
font-family: courier new;
}

h1 {
  font-size: 48px;
  margin-bottom: -10px;
}

h2 {
  font-size: 36px;
  margin-bottom: 0px;
}

h3 {
  font-size: 20px;
  margin-bottom: -10px;
}

h4 {
  font-size: 18px;
}

ul {
  margin-top: 10px

.photo {
  border: 2px solid black;
  float: right;
  width: 195px;
  height: 225px;
  margin-right: 20px;
}

.container {
  margin-left: 150px;
  margin-right: 150px;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-left: 4px dashed black;
  border-right: 4px dashed black;
}

.work {
  margin-top: 10px;
}

.down {
  margin-top: 100px;
  border-bottom: 3px solid black;
}

.inline {
  position: inline;
}
