body {
font-family: courier new;
}

.photo {
  border: 2px solid black;
  float: right;
  width: 195px;
  height: 225px;
}

.container {
  margin-left: 100px;
  margin-right: 100px;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-left: 4px dashed black;
  border-right: 4px dashed black;
}

.work {
  padding-top: 20px;
}

.right {
  float: right;
}

.down {
  padding-top: 40px;
}
