body {
font-family: courier new;
}

h1 {
  font-size: 200%;
}

.photo {
  border: 2px solid black;
  float: right;
  width: 195px;
  height: 225px;
  margin-right: 40px;
}

.container {
  margin-left: 150px;
  margin-right: 150px;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-left: 4px dashed black;
  border-right: 4px dashed black;
}

.work {
  padding-top: 20px;
}

.down {
  margin-top: 80px;
}

.inline {
  position: inline;
}
